-# For now displaying users who the current user can follow
- unless @following_users_updated_statuses.nil?
  %section.timeline_wrap
    .head_line
      %h2= t('dashboard.timeline.title')
      = link_to(t('dashboard.timeline.refresh_link'), refresh_timeline_user_path(current_user), class: "refresh_link", remote: true)

    #timeline_users_container
      = render partial: "users/dashboard/timeline_list_users"

