.head_line
  %h2= t('dashboard.update_status.title')
.update_status_wrap
  .img_box
    = image_tag(current_user_profile_picture_path, height: 60, width: 60)
    %p= current_user.name

  = render partial: "users/dashboard/update_status_text_area"
