.content_bg
  .sub_wrapper
    %article
      .content_text
        %h5 Welcome  to our site
        .content_left_slider
          = t('welcome_page.welcome_text').html_safe

    = render file: "users/registrations/new_themed"
