- content_for :header_content do
  = render file: "users/sessions/new_themed"

%article
  .content_text
    %h5 Welcome  to our site
    .content_left_slider
      = t('welcome_page.welcome_text').html_safe

= render file: "users/registrations/new_themed"
