- unless(users.nil? or users.empty?)
  - show_unfollow_link = (local_assigns[:show_unfollow_link].nil? ? false : show_unfollow_link)
  - show_unfollow_link = false unless current_user_and_user_same?(@user)
  .section_view_profile_detail_area
    = label_tag label_text

  .section_view_profile_slider
    - show_slider = (users.size > 8)
    - if show_slider
      .section_view_profile_slider_lft
      = render partial: "users/profile/render_users_pictures", locals: { users: users, show_unfollow_link: show_unfollow_link  }
      .section_view_profile_slider_rgt
    - else
      .section_view_profile_following
      = render partial: "users/profile/render_users_pictures", locals: { users: users, show_unfollow_link: show_unfollow_link }