-# Reference for removing a associated record when accepts_nested_attributes_for is enabled:
-# http://api.rubyonrails.org/classes/ActiveRecord/NestedAttributes/ClassMethods.html#method-i-accepts_nested_attributes_for
#removeExperienceTemplate(style='display:none')
  = hidden_field_tag('user[profile_attributes][experiences_attributes][][id]', nil, class: 'experienceId')
  = hidden_field_tag('user[profile_attributes][experiences_attributes][][_destroy]', nil, class: 'experienceDestroy')