- followed_by_users = @user.is_followed_by
- unless followed_by_users.empty?
  %li
    = render partial: "users/profile/display_users_picture", locals: { users:  followed_by_users, label_text: t('user.follow.followed_by') }
