- follow_users = current_user.can_follow

- unless follow_users.empty?
  .section_view_profile_detail_area
    = label_tag t('user.follow.title')
  %br/
  %br/
  %table
    - follow_users.each do |user|
      %tr
        %td= user.name
        %td= link_to(t('user.follow.title'), follow_user_path(id: current_user.id, follow_user_id: user.id), method: :post)
