- connected_with_users = @user.connected_with

- unless connected_with_users.empty?
  %li
    .section_view_profile_detail_area
      = label_tag t('user.follow.connected')
    %br/
    %br/
    %table
      - if current_user_and_user_same?(@user)
        - connected_with_users.each do |user|
          %tr
            %td= user.name
            %td= link_to(t('user.follow.disconnect'), '#')
      - else
        - connected_with_users.each do |user|
          %tr
            %td= user.name
