- if !@current_user_message_threads.empty?
  %ul
    - @current_user_message_threads.each do |message_thread|
      %li{ id: "#{message_thread.id}_message_thread_container" }
        = render partial: "mquests/messages_in_thread", locals: { message_thread: message_thread }
- else
  %p(align='center' style="font-size: 31px;")
    %br/
    = t('mquest.no_mquests_received')
