- other_users_available = !@other_users.empty?
.section_content_bg
  .sub_wrapper
    .quest_section_content_text
      %ul.quest_thread-list
        - if other_users_available
          - @other_users.each do |other_user|
            %li
              = render partial: "user_recent_message", locals: { another_user: other_user }
        - else
          %li
            %span= t('mquest.no_users_available')
    #senderReceiverMessagesContainer.quest_section_content_text_rgt(style='display:none')

