- error_message = ''
- if @error
  - error_message = @error_message

:plain
  var senderReceiverMessagesContainer = $('#senderReceiverMessagesContainer');
  var error = "#{error_message}";
  if(error == '') {
    var senderReceiverMessagesHtml = "#{escape_javascript(render(partial:'mquests/sender_receiver_messages'))}";
    senderReceiverMessagesContainer.html(senderReceiverMessagesHtml);
  } else {
    var errorHtml = "<p style='color: red'>" + error + "</p>";
    senderReceiverMessagesContainer.append(errorHtml);
  }

  senderReceiverMessagesContainer.show();

