.section_content_bg
  .sub_wrapper
    .section_content_text_search
      = render partial: "searches/search_top_pane"
      = render partial: "searches/search_pagination_links"
      = render partial: "searches/search_results"
      = render partial: "searches/search_pagination_links"
