.mquestsLegends table {
  margin-left: 31px;
  margin-top: 10px;
}

.mquestsUsers table {
  margin-left: 31px;
  margin-top: 10px;
}

ul li .messageBox {
  display: none;
  margin-left: 220px;
}

ul li .messageStatusBox {
  margin-left: 220px;
}

.dialogueMessages {
   margin-left: 55px;
}
.error{
  color: red;
}