@charset "utf-8";
/* CSS Document */

/*----*****---- << General >> ----*****----*/
body {
  font: normal 12px Arial, Helvetica, sans-serif;
}
header, footer, aside, nav, article {
  display: block;
}
/*----*****---- << Main >> ----*****----*/
#wrapper {
  margin: 0px;
  padding: 0px;
  width: 100%;
  float: left;
}
.sub_wrapper {
  margin: 0 auto;
  width: 960px;
  height: 100%;
  padding: 0;
}
#wrapper_dashboard {
  margin: 0px;
  padding: 0px;
  width: 100%;
  float: left;
  background: #fff url("dasboard_sub_header.jpg") center top no-repeat;
}
/*----*****---- << header >> ----*****----*/
header .header {
  min-height: 90px;
  width: 100%;
  background-color: #F1F1F1;
  -moz-box-shadow: 0 0 7px #636363;
  box-shadow: 0 0 7px #636363;
}
header .index_logo {
  float: left;
  width: 30%;
  padding: 20px 0 0 0;
  font: bold 30px Arial, Helvetica, sans-serif;
  color: #006699;
  height: 60px;
}
header .index_logo span {
  color: #444;
}
header .logo {
  float: left;
  width: 52%;
  padding: 20px 0 0 0;
  font: bold 30px Arial, Helvetica, sans-serif;
  color: #006699;
  height: 60px;
}
header .logo span {
  color: #444;
}

header .login_form {
  /*float: left;*/
  /*width: 70%;*/
  padding: 16px 0 0 0;
}
header .login_form_sub {
  float: left;
  width: 180px;
}
header .login_form label {
  float: left;
  width: 180px;
  font: normal 10px/20px MyriadPro, Helvetica, sans-serif, Arial;
  color: #444444;
}

header .login_form input:not(.submit) {
  float: left;
  width: 160px;
  height: 16px;
  padding: 2px 5px;
  font: normal 10px/20px MyriadPro, Helvetica, sans-serif, Arial;
  color: #444;
}

header .form-inline {
  float: right;
}

header .login_form input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
header .login_form input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
}



/*----*****---- << article >> ----*****----*/
.content_bg {
  width: 100%;
  padding: 45px 0 45px 0;
  min-height: 465px;
}

article .content_text {
  width: 515px;
  height: 380px;
  float: left;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #000;
  opacity: 0.7;
  padding: 40px 0 40px 0;
}
article .content_text h5 {
  width: 475px;
  float: left;
  padding: 0;
  font-size: 48px;
  color: #FFF;
  font-family: MyriadPro, Helvetica, sans-serif, Arial;
  padding: 0 0 0 40px;
  font-weight: bold;
}
/*----*****---- << aside >> ----*****----*/
aside .test {
  float: left;
  width: 400px;
  height: 434px;
  border-radius: 4px 4px 4px 4px;
  border: 13px solid rgba(0, 0, 0, .7);
  background-color: #FFF;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-left: 18px;
}
aside .test_sub {
  float: left;
  width: 402px;
  height: 437px;
  border-radius: 4px 4px 4px 4px;
  background-color: #FFF;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: -1px 0 0 -1px;
}
aside .test_sub_header {
  float: left;
  border-bottom: 1px solid #dadada;
  width: 402px;
  height: 65px;
  float: left;
}
aside .test_sub_header h4 {
  float: left;
  color: #006699;
  padding: 30px 0 0 18px;
  width: 379px;
  font-weight: bold;
  font-size: 22px;
  font-family: MyriadPro;
}
aside .signup {
  float: left;
  padding: 34px 0 24px 18px;
  width: 384px;
  border-bottom: 1px solid #dadada;
}
aside .signup form .control_group {
  float: left;
  width: 365px;
  height: 50px;
}
aside .signup form .control_group label {
  font-size: 14px;
  font-family: MyriadPro;
  float: left;
  width: 120px;
  padding-top: 9px;
  text-align: left;
  font-weight: normal;
  height: 30px;
  color: #444444;
}
aside .signup form .control_group_input {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  float: left;
  width: 230px;
  text-align: left;
  font-weight: normal;
  height: 24px;
  padding: 3px 5px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  color: #444;
}
aside .signup form .control_group input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
}

aside .test_sub .sub_header {
  font-size: 18px;
  font-family: MyriadPro;
  float: left;
  font-weight: bold;
  height: 30px;
  background-color: #ffffff;
  text-align: center;
  width: 50px;
  margin-top: -10px;
  margin-left: 180px;
  color: #006699;
}

.signin-button:before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  content: "";
  display: block;
  left: 2px;
  position: absolute;
  top: 0;
  width: 99%;
}
aside .test_sub .linkedin {
  background: none repeat scroll 0 0 #006699;
}
aside .test_sub .linkedin:hover {
  background: none repeat scroll 0 0 #0088cc;
}
aside .test_sub .signin-button {
  background-clip: padding-box;
  border: 0 none;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 40px;
  margin: 21px 0 0 77px;
  padding: 0;
  text-align: left;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  width: 250px;
  margin: 21px 0 0 77px;
  float: left;
  height: 42px;
}
aside .test_sub .signin-button i {
  background: url("signin-buttonsb.png") no-repeat scroll 0 0 transparent;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  float: left;
  height: 40px;
  width: 40px;
}

aside .test_sub .signin-button > span {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px 25px;
  position: static;
  font-size: 18px;
  font-family: MyriadPro;
  font-weight: normal;
}
aside .test_sub a {
  color: #AAAAAA;
  text-decoration: none;
}
.button {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 2px #FFFFFF inset;
  display: block;
  font: bold 12px PT Sans Caption;
  padding: 5px 12px;
  text-decoration: none;
  width: 80px;
  cursor: pointer;
  float: left;
  margin-left: 120px;
}

.blue {
  background-color: #73D0F1;
  background-image: linear-gradient(#5db5e9, #50a8db);
  border: 1px solid #50a8db;
  color: #fff;
}
.blue:hover {
  background: none repeat scroll 0 0 #0088cc;
  border: 1px solid #0088cc;
}

.button_sign {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 2px #FFFFFF inset;
  display: block;
  font: bold 12px PT Sans Caption;
  padding: 2px 12px 3px;
  text-decoration: none;
  width: 60px;
  cursor: pointer;
  float: left;
  margin-top: 19px;
}
/*----*****---- << footer >> ----*****----*/
footer .footer {
  background-color:#F1F1F1;
  bottom:0;
  height:54px;
  width:100%;
  position:absolute;
  width: 100%;
}
footer .footer p {
  color:#444444;
  float:left;
  font: normal 12px Arial, Helvetica, sans-serif;
  padding:20px 0 0 0;
  width:960px;
}
footer .footer p em {
  float: right;
  text-align: right;
  font-style: normal;
}

footer .footer p a, .footer p em a {
  text-decoration:none;
  color:#006699;
}
footer .footer p a:hover, .footer p em a:hover {
  text-decoration:underline;
  color:#444444;
}

/*Dashboard*/
.content_bg_dashboard {
  width: 100%;
  float: left;
}
.content_bg_dashboard_lft {
  width: 500px;
  float: left;
  height: 102px;
}

.content_bg_dashboard_rgt {
  width: 460px;
  float: left;
  height: 102px;
}
.content_bg_dashboard_rgt h5 {
  width: 460px;
  float: left;
  font: normal 22px Helvetica, Arial, sans-serif;
  color: #006699;
  text-align: right;
  padding-top: 5px;
}
.flt {
  float: left;
}
.rlt {
  float: right;
}
.content_left_slider {
  width: 505px;
  float: left;
  height: 350px;
  padding: 0 5px;
}
.aro_lft {
  width: 20px;
  float: left;
  height: 350px;
  background: url("left_arrow.png") left top no-repeat;
}
.aro_rgt {
  width: 20px;
  float: right;
  height: 350px;
  background: url("right_arrow.png") left top no-repeat;
}
.content_mid {
  width: 415px;
  float: left;
  padding: 0 25px;
}
.content_mid p {
  width: 100%;
  font: normal 12px/18px Helvetica, Arial, sans-serif;
  color: #FFF;
  padding: 18px 0 0 0;
  text-align: justify;
}

.content_left_slider ul li {
  font: normal 12px/18px Helvetica, Arial, sans-serif;
  color: #FFF;
  padding: 0;
  text-align: justify;
}

.content_left_slider ul li p {
  padding: 10px 0 0 0;
}

.jcarousel-skin-tango {
  width: 100%;
}
.jcarousel-container-horizontal {
  padding: 10px 40px;
}
.jcarousel-skin-tango .jcarousel-clip {
  overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
  width: 100%;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
  margin-left: 0;
  color: #FFFFFF;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {

  margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item {
  width: 425px;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
  position: absolute;
  top: 110px;
  left: 5px;
  width: 20px;
  height: 31px;
  cursor: pointer;
  background: transparent url("prev-horizontal.png") no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
  position: absolute;
  top: 110px;
  right: 5px;
  width: 20px;
  height: 31px;
  cursor: pointer;
  background: transparent url("next-horizontal.png") no-repeat 0 0;
}

/*mquest*/
.section_content_bg {
  width: 100%;
  float: left;
  background-color: #FFF;
  padding: 20px 0;
}
.section_content_text {
  float: left;
  width: 958px;
  height: 455px;
  border-top: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  border-left: 3px solid #abcad9;
  overflow: auto;
}

.section_content_text  ul {
  float: left;
  width: 928px;
  height: 425px;
  padding: 15px;
  overflow-x: hidden;
}
.section_content_text  ul li {
  float: left;
  width: 890px;
  height: auto;
  margin-bottom: 15px;
  border: 1px solid #dedede;
  padding: 10px;
}
.poster-thumbs {
  float: left;
  height: 45px;
  width: 50px;
}
.poster-thumbs-name {
  float: left;
  padding: 0 10px;
  width: 125px;
}
.poster-thumbs-name p {
  float: left;
  width: 130px;
  font: normal 14px PT Sans Caption;
  color: #444;
}
.poster-thumbs-name a {
  float: left;
  width: 130px;
  font: normal 11px PT Sans Caption;
  color: #006699;
  text-decoration: none;
}
.poster-thumbs-name a:hover {
  color: #4B4B4B;
  text-decoration: none;
}
.poster-thumbs-content {
  float: left;
  width: 600px;
  padding: 0 10px 0 0;
  font: normal 11px PT Sans Caption;
  color: #4b4b4b;
  text-decoration: none;
}
.poster-thumbs-content-hours {
  float: left;
  width: 75px;
  padding: 0 10px 0 0;
  font: normal 11px PT Sans Caption;
  color: #a1a1a1;
  text-decoration: none;
  text-align: right;
}
/*mquest*/
.quest_section_content_text {
  float: left;
  width: 600px;
  height: 455px;
  border-top: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  border-left: 3px solid #abcad9;
  overflow: auto;
}

.quest_section_content_text  ul {
  float: left;
  width: 570px;
  height: 425px;
  padding: 15px;
  overflow-x: hidden;
}
.quest_section_content_text  ul li {
  float: left;
  width: 530px;
  height: auto;
  margin-bottom: 15px;
  border: 1px solid #dedede;
  padding: 10px;
}
.quest_poster-thumbs {
  float: left;
  height: 45px;
  width: 45px;
}
.quest_poster-thumbs-name {
  float: left;
  padding: 0 0 0 10px;
  width: 125px;
}
.quest_poster-thumbs-name p {
  float: left;
  width: 125px;
  font: normal 14px PT Sans Caption;
  color: #444;
}
.quest_poster-thumbs-name a {
  float: left;
  width: 125px;
  font: normal 11px PT Sans Caption;
  color: #006699;
  text-decoration: none;
}
.quest_poster-thumbs-name a:hover {
  color: #4b4b4b;
  text-decoration: none;
  text-align: left;
}
.quest_poster-thumbs-content {
  float: left;
  width: 250px;
  padding: 0 10px 0 0;
  font: normal 11px PT Sans Caption;
  color: #4b4b4b;
  text-decoration: none;
}
.quest_poster-thumbs-content-hours {
  float: left;
  width: 80px;
  padding: 0 10px 0 0;
}
.quest_poster-thumbs-content-hours p {
  float: left;
  width: 80px;
  font: normal 11px PT Sans Caption;
  color: #a1a1a1;
  text-decoration: none;
  text-align: left;
}
.quest_poster-thumbs-content-hours a {
  float: left;
  width: 80px;
  font: normal 11px PT Sans Caption;
  color: #006699;
  text-decoration: none;
  text-align: left;
}
.quest_poster-thumbs-content-hours a:hover {
  color: #4b4b4b;
  text-decoration: none;
  text-align: left;
}
.quest_section_content_text_rgt {
  float: left;
  width: 338px;
  height: 455px;
  border: 1px solid #dedede;
  margin-left: 15px;
}

.quest_section_content_text_rgt ul {
  float: left;
  width: 310px;
  height: 395px;
  padding: 15px;
  overflow-x: hidden;
  border-bottom: 1px solid #dedede;
}
.quest_section_content_text_rgt ul li {
  float: left;
  width: 285px;
  height: auto;
  margin-bottom: 15px;
  border: 1px solid #dedede;
  padding: 6px 10px;
}
.quest_section_content_text_rgt ul li span {
  float: left;
  width: 70px;
  font: normal 12px PT Sans Caption;
  color: #444;
}
.light_bg {
  float: left;
  width: 285px;
  background-color: #F5F5F5;
}
.quest_repl {
  float: left;
  width: 100%;
}
.quest_button {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 2px #FFFFFF inset;
  display: block;
  font: bold 12px PT Sans Caption;
  padding: 5px 12px;
  text-decoration: none;
  width: 70px;
  cursor: pointer;
  float: left;
}
.quest_blue {
  background-color: #73D0F1;
  background-image: linear-gradient(#5db5e9, #50a8db);
  border: 1px solid #50a8db;
  color: #fff;
}
.quest_blue:hover {
  background: none repeat scroll 0 0 #0088cc;
  border: 1px solid #0088cc;
}
.quest_repl input {
  font-size: 11px;
  font-family: PT Sans Caption;
  float: left;
  width: 242px;
  text-align: left;
  font-weight: normal;
  padding: 3px 5px;
  background-color: #ffffff;
  border: 0;
  color: #444;
}

/*dashboard*/
.header_nav {
  float: right;
  height: 45px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 12px;
}
.header_nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header_nav ul li {
  float: left;
  border-left: #dddddd solid 1px;
}
.header_nav ul li:first-child {
  border: none;
}
.header_nav ul li a {
  line-height: 45px;
  height: 45px;
  background: #fff;
  padding: 0 10px 0 15px;
  float: left;
  font-size: 14px;
  color: #444444;
  text-decoration: none;
  transition-duration: .5s;
  -moz-transition-duration: .5s;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
}
.header_nav ul li a figure {
  float: left;
  height: 16px;
  width: 16px;
  margin: 13px 5px 0 0;
  transition-duration: .5s;
  -moz-transition-duration: .5s;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
}
.header_nav ul li a .dashboard_icon {
  background: url("dashboard-icon.gif") no-repeat top left;
}
.header_nav ul li a .mboard_icon {
  background: url("mboard-icon.gif") no-repeat top left;
}
.header_nav ul li a .mquest_icon {
  background: url("mquest-icon.gif") no-repeat top left;
}
.header_nav ul li a .search_icon {
  background: url("search-icon.gif") no-repeat top left;
}
.header_nav ul li a:hover, .header_nav ul li a.active {
  color: #006699;
  background: #f5f5f5;
}
.header_nav ul li a:hover figure, .header_nav ul li a.active figure {
  background-position: left bottom;
}

.content_bg_dashboard_rgt .setting_drop {
  float: right;
  clear: both;
  color: #ebebeb;
  font-size: 16px;
  z-index: 2;
  position: relative;
  cursor: pointer;
  padding-bottom: 2px;
  font-family: Arial, Helvetica, sans-serif;
}
.content_bg_dashboard_rgt .setting_drop img {
  float: left;
  margin-top: 3px;
}
.content_bg_dashboard_rgt .setting_listing {
  position: absolute;
  top: 30px;
  right: 0;
  padding: 0;
  background: #309BB1;
  width: 150px;
  display: none;
}
.content_bg_dashboard_rgt .setting_listing ul {
  list-style: none;
}
.content_bg_dashboard_rgt .setting_listing li {
  border-bottom: #1c778a solid 1px;
  overflow: hidden;
}
.content_bg_dashboard_rgt .setting_listing li a {
  line-height: 20px;
  color: #fff;
  text-indent: 10px;
  float: left;
  width: 100%;
  text-decoration: none;
  font-size: 13px;
  padding: 5px 0;
  text-align: left;
}
.content_bg_dashboard_rgt .setting_listing li a:hover {
  background: #207689;
}

.head_line {
  color: #878282;
  font-size: 22px;
  padding: 10px 0 18px 0;
}
.head_line h2 {
  font-size: 22px;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
}
.update_status_wrap {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}
.update_status_wrap .img_box {
  float: left;
  width: 105px;
}
.update_status_wrap .img_box img {
  border: #9d9b96 solid 1px;
  float: left;
  margin-bottom: 10px;
}
.update_status_wrap .img_box p {
  color: #444444;
  font-size: 14px;
}
.update_status_wrap .update_right {
  float: left;
  width: 850px;
}
.update_status_wrap .update_right textarea {
  float: left;
  width: 830px;
  border: #dedede solid 1px;
  padding: 10px;
  height: 65px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #444444;
}
.update_status_wrap .update_right .line_btn {
  float: right;
  margin-top: 10px;
  height: 25px;
  padding: 0 10px;
  line-height: 25px;
  color: #fff;
  font-size: 14px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 2px #FFFFFF inset;
  background-color: #73D0F1;
  background-image: linear-gradient(#5db5e9, #50a8db);
  border: 1px solid #50a8db;
  text-decoration: none;
}
.update_status_wrap .update_right .line_btn:hover {
  background: none repeat scroll 0 0 #0088cc;
  border: 1px solid #0088cc;
}

.timeline_wrap {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 15px;
}
.timeline_wrap a {
  text-decoration: none;
}
.timeline_wrap .head_line {
  overflow: hidden;
  padding-bottom: 10px;
}
.timeline_wrap .head_line h2 {
  float: left;
}
.timeline_wrap .head_line .refresh_link {
  float: right;
  color: #444444;
  font-size: 16px;
}
.timeline_wrap .head_line .refresh_link:hover {
  color: #006699;
}
.timeline_wrap ul {
  background: #fff;
  padding: 20px 20px 5px 20px;
  border: #dedede solid 1px;
}
.timeline_wrap ul li {
  padding: 9px;
  border: #dedede solid 1px;
  margin-bottom: 15px;
  overflow: hidden;
}
.timeline_wrap ul li figure {
  float: left;
  border: #dedede solid 1px;
  margin: 0 15px 0 0;
}
.timeline_wrap ul li .name_box {
  float: left;
  width: 120px;
  padding: 0 10px;
}
.timeline_wrap ul li .name_box a {
  font-size: 11px;
  color: #006699;
}
.timeline_wrap ul li .name_box a:hover {
  color: #444;
}
.timeline_wrap ul li .time_line_txt {
  float: left;
  width: 590px;
  font-size: 11px;
  padding: 0 25px 0 10px;
  text-align: justify;
}
.timeline_wrap ul li .timeline_dtl {
  float: left;
  width: 82px;
  color: #a1a1a1;
  font-size: 11px;
}
.timeline_wrap ul li .timeline_dtl a {
  color: #006699;
}
.timeline_wrap ul li .timeline_dtl a:hover {
  color: #444;
}
.collum_wrap {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.collum_wrap .call_A {
  float: left;
  width: 230px;
  border-left: #abcad9 solid 2px;
  margin-right: 18px;
}
.collum_wrap .call_A .wht_box {
  background: #fff;
  border: #dfdfdf solid 1px;
  overflow: hidden;
  margin-bottom: 8px;
}
.collum_wrap .call_A .wht_box .head_line {
  padding: 10px;
  border-bottom: #dfdfdf solid 1px;
  overflow: hidden;
}
.collum_wrap .call_A .wht_box .head_line h3 {
  float: left;
  color: #444;
  font-size: 16px;
}
.collum_wrap .call_A .wht_box .head_line .status_icon {
  float: right;
  height: 15px;
  width: 15px;
  background: url("acordian-status.gif") no-repeat top left;
  cursor: pointer;
}
.collum_wrap .call_A .wht_box .head_line .status_icon.closed {
  background-position: left bottom;
}
.collum_wrap .call_A .wht_box .contant_box {
  border-bottom: #dfdfdf solid 1px;
  height: 180px;
  overflow: auto;
}
.collum_wrap .call_A .wht_box .contant_box ul {
  padding: 5px 16px;
  font-size: 10px;
}
.collum_wrap .call_A .wht_box .contant_box ul li {
  overflow: hidden;
}
.collum_wrap .call_A .wht_box .contant_box ul a {
  color: #878282;
  padding: 7px 0;
  float: left;
  width: 100%;
  text-decoration: none;
}
.collum_wrap .call_A .wht_box .contant_box ul a:hover {
  color: #006699;
}
.collum_wrap .call_A .wht_box .line_big_btn {
  float: right;
  height: 32px;
  padding: 0 30px;
  line-height: 32px;
  color: #444444;
  font-size: 14px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 2px #FFFFFF inset;
  background-color: #e9e9e9;
  background-image: linear-gradient(#E8E8E8, #d5d5d5);
  border: 1px solid #b4b4b4;
  text-decoration: none;
}
.collum_wrap .call_A .wht_box .line_big_btn:hover {
  background: none repeat scroll 0 0 #ededed;
  border: 1px solid #d5d5d5;
  color: #006699;
}
.collum_wrap .call_A .wht_box .goal_list {
}
.collum_wrap .call_A .wht_box .goal_list li {
  padding: 5px 0;
  overflow: hidden;
  line-height: 13px;
  color: #878282;
  font-size: 10px;
}
.collum_wrap .call_A .wht_box .goal_list li input {
  float: left;
}
.collum_wrap .call_A .wht_box .goal_list li span {
  float: left;
  width: 143px;
}
.collum_wrap .call_A .wht_box .goal_list li p {
  float: left;
  width: 32px;
  text-align: right;
}
.collum_wrap .call_B {
  float: left;
  width: 460px;
  border: #dfdfdf solid 1px;
  margin-right: 18px;
  background: #fff;
}
.collum_wrap .call_B .head_line {
  padding: 10px;
  border-bottom: #dfdfdf solid 1px;
  overflow: hidden;
  font-size: 11px;
  line-height: 20px;
}
.collum_wrap .call_B .head_line h3 {
  float: left;
  color: #444;
  font-size: 16px;
  margin-right: 10px;
}
.collum_wrap .call_B .head_line a {
  color: #006699;
  text-decoration: none;
}
.collum_wrap .call_B .head_line a:hover {
  color: #000;
}
.collum_wrap .call_B .head_line .line_btn {
  float: right;
  height: 20px;
  padding: 0 10px;
  line-height: 20px;
  color: #444444;
  font-size: 12px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 2px #FFFFFF inset;
  background-color: #e9e9e9;
  background-image: linear-gradient(#E8E8E8, #d5d5d5);
  border: 1px solid #b4b4b4;
  text-decoration: none;
}
.collum_wrap .call_B .head_line .line_btn:hover {
  background: none repeat scroll 0 0 #ededed;
  border: 1px solid #d5d5d5;
  color: #006699;
}
.collum_wrap .call_B ul {
  padding: 17px 14px 0 14px;
  border-bottom: #dfdfdf solid 1px;
}
.collum_wrap .call_B li {
  margin-bottom: 15px;
  padding: 10px;
  border: #dfdfdf solid 1px;
  color: #444444;
  font-size: 11px;
}
.collum_wrap .call_B li.even {
  background: #f5f5f5;
}
.collum_wrap .call_B .line_big_btn {
  float: right;
  height: 32px;
  padding: 0 30px;
  line-height: 32px;
  color: #444444;
  font-size: 14px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 2px #FFFFFF inset;
  background-color: #e9e9e9;
  background-image: linear-gradient(#E8E8E8, #d5d5d5);
  border: 1px solid #b4b4b4;
  text-decoration: none;
}
.collum_wrap .call_B .line_big_btn:hover {
  background: none repeat scroll 0 0 #ededed;
  border: 1px solid #d5d5d5;
  color: #006699
}

.collum_wrap .call_C {
  float: left;
  width: 230px;
}
.collum_wrap .call_C .wht_box {
  background: #fff;
  border: #dfdfdf solid 1px;
  overflow: hidden;
  margin-bottom: 8px;
}
.collum_wrap .call_C .wht_box .head_line {
  padding: 10px;
  border-bottom: #dfdfdf solid 1px;
  overflow: hidden;
}
.collum_wrap .call_C .wht_box .head_line h3 {
  float: left;
  color: #444;
  font-size: 16px;
}
.collum_wrap .call_C .wht_box .contant_box {
  border-bottom: #dfdfdf solid 1px;
  height: 198px;
  overflow: auto;
}
.collum_wrap .call_C .note_list {
  padding: 10px 17px;
}
.collum_wrap .call_C .note_list .date_row {
  background: #9a9a9a;
  color: #fff;
  font-size: 12px;
  padding: 7px 10px;
}
.collum_wrap .call_C .note_list ul {
  padding-bottom: 10px;
}
.collum_wrap .call_C .note_list ul li {
  overflow: hidden;
  padding-bottom: 5px;
  color: #878282;
  font-size: 12px;
  padding: 5px 0;
}
.collum_wrap .call_C .note_list .note_link {
  float: right;
  font-size: 10px;
}
.collum_wrap .call_C .note_list .note_link a {
  color: #006699;
  text-decoration: none;
}
.collum_wrap .call_C .note_list .note_link a:hover {
  color: #444;
}
.collum_wrap .call_C .wht_box .head_line .status_icon {
  float: right;
  height: 15px;
  width: 15px;
  background: url("acordian-status.gif") no-repeat top left;
  cursor: pointer;
}
.collum_wrap .call_C .wht_box .head_line .status_icon.closed {
  background-position: left bottom;
}
.collum_wrap .call_C .wht_box .line_big_btn {
  float: right;
  height: 32px;
  padding: 0 30px;
  line-height: 32px;
  color: #444444;
  font-size: 14px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 2px #FFFFFF inset;
  background-color: #e9e9e9;
  background-image: linear-gradient(#E8E8E8, #d5d5d5);
  border: 1px solid #b4b4b4;
  text-decoration: none;
}
.collum_wrap .call_C .wht_box .line_big_btn:hover {
  background: none repeat scroll 0 0 #ededed;
  border: 1px solid #d5d5d5;
  color: #006699
}
.bottom_space {
  margin-bottom: 0 !important;
}
.wire_section input {
  background-color: #FFFFFF;
  border: 0 none;
  color: #444444;
  float: left;
  font-family: PT Sans Caption;
  font-size: 11px;
  font-weight: normal;
  padding: 3px 5px;
  text-align: left;
  width: 350px;
  height: 25px;
}
.hor_height {
  height: 150px !important;
  overflow: hidden !important;
}
/*Profile*/
.section_profile_text_lft {
  float: left;
  width: 120px;
  height: 100%;
}
.content_bg_dashboard_lft h4 {
  float: left;
  padding: 0;
  color: #FFF;
  font: normal 18px Helvetica, sans-serif, Arial;
  padding: 40px 0 0 167px;
}

.section_profile_img {
  float: left;
  width: 93px;
  height: 93px;
  background: url("profile_main.jpg") no-repeat top left;
  padding: 4px 0 0 4px;
}
.section_profile_text_rgt {
  float: left;
  width: 740px;
  height: 470px;
  padding: 20px 45px 45px;
  border: 1px solid #dedede;
}
.section_profile_text_lft .sidebar {
  float: left;
  width: 120px;
  padding: 10px 0 0 0;
}
.section_profile_text_lft .sidebar ul {
  margin: 0;
  padding: 0;
  width: 120px;
}
.section_profile_text_lft .sidebar ul li {
  color: #333333;
  float: left;
  width: 110px;
  padding: 0 10px 0 0;
  height: 30px;
}
.section_profile_text_lft .sidebar ul li a {
  color: #333333;
  font: normal 12px/30px Helvetica, sans-serif, Arial;
  text-decoration: none;
  float: left;
  width: 100px;
  height: 20px;
  padding: 5px 10px;
}

.section_profile_text_lft .sidebar ul li a.active, .section_profile_text_lft .sidebar ul li a:hover {
  color: #006699;
  background-color: #FFF;
  border: 1px solid #999;
  float: left;
  width: 98px;
  font: normal 12px/30px Helvetica, sans-serif, Arial;
  text-decoration: none;
}

ul#sidenav {
  margin: 10px 0 0 0;
  padding: 0;
  width: 120px;
  float: left;
  overflow: hidden;
}
ul#sidenav li {
  font: normal 12px Helvetica, Arial, sans-serif;
  list-style: none outside none;
  text-indent: 10px;
  float: left;
}
ul#sidenav li a {
  color: black;
  display: block;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  width: 120px;
  border: 1px solid #FFF;
}
ul#sidenav li a:hover, ul#sidenav li a.active {
  color: #006699;
  display: block;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  width: 120px;
  border-width: 1px;
  border-color: #DADADA #F7F7F7 #DADADA #DADADA;
  background-color: #FFF;
}
.section_profile_detail_form {
  float: left;
  width: 740px;
}
.section_profile_detail_form  ul {
  float: left;
  width: 100%;
}
.section_profile_detail_form li {
  display: block;
  float: left;
  height: auto;
  padding: 0 0 20px;
  width: 100%;
}
.section_profile_detail_area {
  float: left;
  height: auto;
  width: 100%;
}
.section_profile_detail_sub_area {
  float: left;
  height: auto;
  width: 370px;
}
.section_profile_detail_sub_area_rgt {
  float: left;
  height: auto;
  width: 320px;
  padding-left: 50px;
}
.section_profile_detail_form li label {
  color: #414141;
  float: left;
  font: 700 12px Arial, Helvetica, sans-serif;
  text-align: left;
  vertical-align: top;
  width: 92px;
}
.section_profile_detail_form li textarea {
  border: 1px solid #CCCCCC;
  color: #9A9A9A;
  float: left;
  font: 10px Arial, Helvetica, sans-serif;
  padding: 12px 15px;
  border-radius: 6px;
  resize: none;
  text-align: justify;
}
.section_profile_detail_form li input {
  border: 1px solid #CCCCCC;
  color: #9A9A9A;
  float: left;
  font: 10px Arial, Helvetica, sans-serif;
  padding: 5px 8px;
  border-radius: 6px;
  resize: none;
  text-align: justify;
}
.section_profile_detail_form li select {
  border: 1px solid #CCCCCC;
  color: #9A9A9A;
  float: left;
  font: 10px Arial, Helvetica, sans-serif;
  padding: 5px;
  border-radius: 3px;
  resize: none;
  text-align: justify;
}
.section_profile_detail_form li input:focus, .section_profile_detail_form li textarea:focus, .section_profile_detail_form li select:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
}
.section_profile_detail_form_big_box {
  height: 46px;
  width: 610px;
}
.section_profile_detail_form_big_medium {
  height: 20px;
  width: 200px;
}
.section_profile_detail_form_big_small {
  height: 30px;
  width: 90px;
}
.section_profile_detail_form_little_small {
  height: 30px;
  width: 55px;
  margin: 0 8px 0 0;
}
.section_profile_detail_edu {
  height: 16px;
  width: 150px;
  margin-right: 8px;
}
.section_profile_detail_edu_year {
  height: 16px;
  width: 52px;
  margin-right: 10px;
}
.top_pad {
  margin-top: 6px;
}
.education_row {
  float: left;
  padding: 20px 0 0 130px;
}
.section_profile_height {
  line-height: 30px !important;
}
.profile_save_button {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 2px #FFFFFF inset;
  display: block;
  font: bold 12px PT Sans Caption;
  padding: 5px 12px;
  text-decoration: none;
  width: 80px;
  cursor: pointer;
  float: left;
  margin-left: 90px;
}
.progressbar {
  float: right;
  margin-top: 25px;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 30%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
/*view profile*/
.section_view_profile_text_rgt {
  float: left;
  height: auto;
  padding: 0 45px 100px;
  width: 740px;
}
.view_profile_name {
  float: left;
  margin: 10px 0 18px;
  overflow: hidden;
  width: 120px;
}
.view_profile_name span {
  float: left;
  font: bold 12px Helvetica, Arial, sans-serif;
  color: #414141;
}
.section_view_profile_detail_form {
  float: left;
  width: 740px;
}
.section_view_profile_detail_form  ul {
  float: left;
  width: 100%;
}
.section_view_profile_detail_form li {
  display: block;
  float: left;
  height: auto;
  padding: 0 0 35px;
  width: 100%;
}
.section_view_profile_detail_area {
  float: left;
  height: auto;
  width: 100%;
}
.section_view_profile_detail_form li label {
  color: #414141;
  float: left;
  font: 700 12px Arial, Helvetica, sans-serif;
  text-align: left;
  vertical-align: top;
  width: 140px;
}
.section_view_profile_detail_area span {
  width: 550px;
  color: #9A9A9A;
  float: right;
  font: 10px Arial, Helvetica, sans-serif;
  padding: 0 15px 15px;
}

.section_view_profile_detail_area strong {
  width: 550px;
  color: #444444;
  float: right;
  font: bold 12px Arial, Helvetica, sans-serif;
  padding: 0 15px;
}
.view_profe {
  float: left;
  font: bold 12px Helvetica, Arial, sans-serif;
  color: #414141;
  padding: 0 0 105px 0;
}
/*professenial*/
.delete {
  float: left;
  width: 9px;
  height: 9px;
  background: url("x.png") no-repeat top left;
  margin-top: 8px;
}
.section_professional_detail_form {
  float: left;
  width: 740px;
}
.section_professional_detail_form  ul {
  float: left;
  width: 100%;
}
.section_professional_detail_form li {
  display: block;
  float: left;
  height: auto;
  padding: 0 0 20px;
  width: 100%;
}
.section_professional_detail_area {
  float: left;
  height: auto;
  width: 100%;
}
.section_professional_detail_sub_area {
  float: left;
  height: auto;
  width: 370px;
}
.section_professional_detail_sub_area_rgt {
  float: left;
  height: auto;
  width: 320px;
  padding-left: 50px;
}
.section_professional_detail_form li label {
  color: #414141;
  float: left;
  font: 700 12px Arial, Helvetica, sans-serif;
  text-align: left;
  vertical-align: top;
  width: 130px;
}

.section_professional_detail_form li input {
  border: 1px solid #CCCCCC;
  color: #9A9A9A;
  float: left;
  font: 10px Arial, Helvetica, sans-serif;
  padding: 5px 8px;
  border-radius: 6px;
  resize: none;
  text-align: justify;
}
.pro_space {
  width: 65px !important;
}

.professional_save_btn {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 2px #FFFFFF inset;
  display: block;
  font: bold 12px PT Sans Caption;
  padding: 5px 12px;
  text-decoration: none;
  width: 80px;
  cursor: pointer;
  float: left;
  margin-left: 130px;
}