= form_tag(resource_path) do
  = hidden_field_tag "resource[resource_type]", "link", id: 'resourceType'
  %br/
  = text_field_tag "resource[content]", nil, placeholder: t('user.resource.resource_content_placeholder')
  %br/
  = submit_tag t('user.resource.save_resource_caption')