%footer
  .footer
    .sub_wrapper
      %p
        = t('footer.copyright_text')
        = link_to(t('footer.links.privacy_policy'), '#')
        %em
          = link_to(t('footer.links.about'), '#')
          |
          = link_to(t('footer.links.contact_us'), '#')
