%header
  .header
    .sub_wrapper
      = render "layouts/logo"

      - if user_signed_in?
        = render partial: "main_navigation"
      - else
        = render file: "users/sessions/new_themed"
